<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="static/css/login.css">
</head>
<body onload="onloadFunction()">
	<header>
		<div class="logo">
			<img src="static/icons/logo.png">
			<h3>ООО "ВЫСОКОТОЧНАЯ МЕХАНИКА"</h3>
		</div>
	</header>
	<input id="email" type="email" name="email" placeholder="E-mail">
	<input id="pass" type="password" name="password" placeholder="Password">
	<div class="actions">
		<button id="login_btn" onclick="login()">Login</button>
	</div>
</body>
<script type="text/javascript">
	const xhttp = new XMLHttpRequest();
	function onloadFunction() {
		document.getElementsByClassName("actions")[0].style.width = document.getElementById("email").clientWidth + "px";
		deleteAllCookies();
	}

	function login() {
		e = document.getElementById("email").value;
		p =  document.getElementById("pass").value;
		xhttp.open("POST", "/login_action", true);
  		xhttp.setRequestHeader("Content-Type", "application/json");
  		xhttp.setRequestHeader("Web", "1");
  		xhttp.onload = function(){
  			if (xhttp.status == 200){
  				resp = JSON.parse(xhttp.responseText);
  				console.log(resp[0]);

				if (resp[0]["status"] == "failed"){
					alert('failed')
				}
				if (resp[0]["status"] == "success"){
					document.cookie = "uId="+resp[0]['uId']
					window.location.href = "/";
				}
		  	}
  		}

		xhttp.send(JSON.stringify({email:e, password:p}));
		
	}
	function redirect_to_reg(){
		window.location.href = "/registration";
	}
	function deleteAllCookies() {
    const cookies = document.cookie.split(";");

    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i];
        const eqPos = cookie.indexOf("=");
        const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
}
  	
</script>
</html>