<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<header>
		<div class="logo">
			<img src="static/icons/logo.png">
			<h3>ООО "ВЫСОКОТОЧНАЯ МЕХАНИКА"</h3>
		</div>
		<img class="profile" src="static/icons/profile.png">
	</header>
	<main>
		<div class="buttons">
			<button>Заявки клиентов</button>
			<button>Задачи производства</button>
			<button>Заявки поставщикам</button>
		</div>
		<div class="requests">
			<h1>Заявки клиентов</h1>
			<button id="open_new_request">Добавить<img src="static/icons/plus.png"></button>
		</div>
		<table>
			<thead>
				<tr>
					<th>№</th>
					<th>Дата поступления</th>
					<th>Клиент</th>
					<th>Описание</th>
					<th>Статус</th>
				</tr>
			</thead>
			<tbody>
				{% for x in range(l) %}
				<tr class="table_row" id="{{x + 1}}">
					<th>{{table['id'][x]}}</th>
					<th>{{table['creation_date'][x] | ctime}}</th>
					<th>{{table['client_name'][x]}}</th>
					<th>{{table['short_description'][x]}}</th>
					<th>{{table['status'][x]}}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
	<div class="new_request_overlay_wrapper">
		<div class="new_request_overlay">
			<div class="header">
				<h2>Новая заявка</h2>
				<img src="static/icons/cross.png" onclick="hide_new_request()">
			</div>
			
			<div>
				<h3>Номер</h3>
				<p style="font-weight:bold" id="task_number">{{l + 1}}</p>
			</div>
			<div>
				<div>
					<h3>Клиент</h3>
					<input id="client_name" type="text" placeholder="ФИО / название" required></p>
				</div>
				<div>
					<h3>Телефон клиента</h3>
					<div style="display: flex; gap:5px">
						<input id="client_phone_country" style="font-weight: bold; width:30px; text-align: right; " value="+7">
						<input id="client_phone" type="phone" name="phone" placeholder="123 123 1122"></p>
					</div>
				</div>
				<div>
					<h3>E-mail клиента</h3>
					<input id="client_email" type="text" name="email" required></p>
				</div>
			</div>
			<div class="description_div">
				<h3>Описание</h3>
				<textarea id="short_description"  required></textarea>
			</div>
			<p id="error" style="font-weight:bold; color: red; display: none;">Проверьте заполненность всех полей</p>
			<div class="send_req_wrapper">
				<button id="send_request">Сохранить</button>
			</div>
		</div>
	</div>
	<div class="task_editing_wrapper">
		<div class="task_editing">
			<div class="header_wrapper">
				<div class="header">
					<h2>Заявка № 1</h2>
					<p> - статус</p>
				</div>
				<button>Разместить</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	const xhttp = new XMLHttpRequest();

	document.getElementById("open_new_request").addEventListener("click", function(){open_new_request()}, false);
	document.getElementById("send_request").addEventListener("click", function(){send_new_request()}, false);
	let rows = document.getElementsByClassName("table_row");
	for (let i = 0; i<rows.length; i++){
		rows[i].addEventListener("click", function(){edit_task(this.id)}, false);
	}

	function open_new_request(){
		document.getElementsByClassName("new_request_overlay_wrapper")[0].style.visibility = "visible";
	};
	function hide_new_request(){
		document.getElementsByClassName("new_request_overlay_wrapper")[0].style.visibility = "hidden";
	};
	function hide_error(){
		return new Promise(() => {
			setTimeout(() => {
				document.getElementById("error").style.display = "none";
			}, 2000);
		})
	};
	function send_new_request(){
		n = document.getElementById("client_name").value;
		p = document.getElementById("client_phone").value;
		cc = document.getElementById("client_phone_country").value;
		e = document.getElementById("client_email").value;
		d = document.getElementById("short_description").value;
		if (n == "" || p == "" || cc == "" || e == "" || d == ""){
			document.getElementById("error").style.display = "";
			hide_error();
		}else{
			xhttp.open("POST", "/new_request", true);
	  		xhttp.setRequestHeader("Content-Type", "application/json");
	  		xhttp.setRequestHeader("Web", "1");
	  		xhttp.onload = function(){
	  			if (xhttp.status == 200){
  					resp = JSON.parse(xhttp.responseText);

					if (resp["status"] == "failed"){
						alert('failed')
					}
					if (resp["status"] == "success"){
						alert('success')
					}
			  	}
	  		}
	  		xhttp.send(JSON.stringify({name:n, phone:p, country_code:cc, email:e, desc:d}));
		}
	};
	function edit_task(id){
		alert(id);
	}
</script>
</html>