<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<header>
		<div class="logo">
			<img src="static/icons/logo.png">
			<h3>ООО "ВЫСОКОТОЧНАЯ МЕХАНИКА"</h3>
		</div>
		<img class="profile" src="static/icons/profile.png">
	</header>
	<main>
		<div class="buttons">
			<button>Заявки клиентов</button>
			<button>Задачи производства</button>
			<button>Заявки поставщикам</button>
		</div>
		<div class="requests">
			<h1>Заявки клиентов</h1>
			<button>Добавить заявку <img src="static/icons/plus.png"></button>
		</div>
		<table>
			<thead>
				<tr>
					<th>№</th>
					<th>Дата поступления</th>
					<th>Клиент</th>
					<th>Описание</th>
					<th>Статус</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>1232132</th>
					<th>123123</th>
					<th>12312312</th>
					<th>12312321</th>
					
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>