:root{
	--primary: #91a3b1;
}
*{
	margin: 0px;
}
body{
	overflow: hidden;
	height: 100vh;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
	padding: 10px 20px 10px 5px ;
}
.logo{
	width: 100vw;
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 50px 10px 50px;
	display: flex;
	align-items: center;
	gap: 20px;
	background-color: var(--primary);
}
.logo img{
	height: 80px;
}
.actions{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1px;
}
.reg_btn{
	text-decoration: underline;
	cursor: pointer;
}
button{
	cursor: pointer;
	width: 100%;
}