:root{
	--primary: #91a3b1;
}
*{
	margin: 0px;

}
body{
	position: relative;
}
header{
	padding: 10px 50px 10px 50px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
}
input{
	height: 30px;
}
button{
	cursor: pointer;
}
.logo{
	display: flex;
	align-items: center;
	gap: 20px;
}
.logo img{
	height: 80px;
}
.profile{
	height: 40px;
}
main{
	margin: 10px 50px 10px 50px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.buttons{
	display: flex;
	align-items: center;
	gap: 20px;
}
.requests{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.requests button{
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	height: 50px;
	width: 10%;
	background-color: #FFF;
}
.requests button:hover{
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	height: 50px;
	width: 10%;
	background-color: lightgrey;
}
.requests button:active{
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	height: 50px;
	width: 10%;
	background-color: grey;
}

button img{
	height: 20px;
}
table {
    border-collapse: collapse;
    letter-spacing: 1px;
}
thead{
	background-color: var(--primary);
}
td,
th {
    border: 1px solid ;
}
th{
	text-align: left;
}
tbody tr{
	cursor: pointer;
}
tbody tr:hover{
	background-color: lightgrey;
}
.new_request_overlay_wrapper{
	visibility: hidden;
  	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.new_request_overlay{
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
	padding: 20px;
	border: 3px solid;
}
.new_request_overlay .header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.new_request_overlay .header img{
	width: 20px;
	cursor: pointer;
}
.new_request_overlay div{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}
.description_div{
	width: 100%;
}
#short_description{
	width: 50%;
}
.send_req_wrapper{
	width: 100%;
	display: flex;
	justify-content: flex-end;

}
#send_request{
	padding: 5px 10px 5px 10px;
	background-color: #e2efda;
}
#send_request:hover{
	padding: 5px 10px 5px 10px;
	background-color: #e9efda;
}
#send_request:active{
	padding: 5px 10px 5px 10px;
	background-color: #f2ffda;
}
.task_editing_wrapper{
  	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.task_editing{
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
	padding: 20px;
	border: 3px solid;
}
.task_editing img{
	width: 20px;
	cursor: pointer;
}
.task_editing div{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}
.task_editing .header_wrapper{
	display: flex;
}
